body {
    background-color: rgb(48, 48, 48);
    font-family: system-ui, -apple-system, BlinkMacSystemFont,"Segoe UI", Roboto, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.background-logo {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60%;
    opacity: 0.07;
    pointer-events: none;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 400px;  
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid rgb(136, 136, 136);
    border-radius: 30px;
    background-color: rgb(102, 102, 102);
    position: relative;
    z-index: 1;
}

.input-login {
    width: 100%;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    border: 3px solid rgb(71, 71, 71);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-sizing: border-box; 
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: medium;
    font-weight: 600;
    border-radius: 5px;
    border: 3px solid rgb(71, 71, 71);
    background-color: rgb(0, 0, 0);
    color: rgb(129, 129, 129);
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.1s;
}
button:hover {
    background-color: rgb(61, 61, 61);
}
button:active {
    transform: scale(0.97); 
}

.login-logo {
    width: 100%;        
    max-width: 650px;  
    min-width: 200px;  
    height: auto;
}

.hidden{
    display: none;
}



@media (max-width: 400px) {
    .login-container {
        width: 90%;
        padding: 10px;
    }
}
